*{
    margin: 0;
}

/* header and nevigation style */

nav{
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
    padding: 50px 0px;
}

nav li{
    list-style: none;
    margin-left: 50px;
}

nav ul{
    display: flex;
    align-items: center;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;

}
.text-primary{
    color: orange;
}


.btn{
    
padding: 18px 35px;

color: white;
font-size: 20px;
font-family: Open Sans;
font-weight: 700;
 
width: 150px;        

border-radius: 5px;
background: #FD6E0A;
border: 0;

}

.banner{
    display: flex;
    align-items: center;
    margin: 0 150px;
}

.banner-sub-title{
color: var(--Dark-02, #474747);
font-family: Open Sans;
font-size: 45px;
font-style: normal;
font-weight: 600;
line-height: normal;
margin-bottom: 5px;
}
.banner-title{
color: var(--Dark-01, #181818);
font-family: Open Sans;
font-size: 67px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 20px;
}
.banner-description{
color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 585px;
margin-bottom: 30px;
}
.btnCv{
width: 200px;
height: 64px;
flex-shrink: 0;
border-radius: 5px;
background: #FD6E0A;
color: var(--White-Color, #FFF);
text-align: center;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
border: 0;
margin-right: 20px;
}
.btnCnt{
    color: #FD6E0A;
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 160px;
    height: 64px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    background-color: white;
}
.header{
    background: #FFF8F3;
    background-image: url("../images/header_bg.png"), url("../images/developer.png");
    background-repeat: no-repeat;
    background-position: bottom right,left;
}
.person{
width: 540px;
height: 676px;

}


/* main.............. */

 main{
    max-width: 1140px;
    margin: 0 auto;
} 

/* section-----1 */
.about{
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}
.section-title{
text-align: center;
margin-bottom: 30px;
color: var(--Dark-01, #181818);

font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-description{
text-align: center;
color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 827px;
margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 150% */
}
.info-description{
    color: var(--Dark-02, #474747);
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
}


/* section.....2 */

.what-i-do{
    
    margin-top: 130px;
}
.what-description{
    margin-top: 27px;
    color: var(--Dark-03, #757575);
text-align: center;
font-family: Open Sans;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 166.667% */
width: 909px;
padding: 0px 150px;
}
.what-title{
color: var(--Dark-01, #181818);
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

/* skills-container....... */

.skills-container{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

   
    
    
.skill{
    padding: 33px 33px 30px 33px;
    background:#FFF;
    border-radius: 5px;
    
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06)
 

}
.skill img{
width: 44px;
height: 44px;

}
.skill-title{
color: var(--Dark-01, #181818);

font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top: 25px;
}

.skill-description{
    color: var(--Dark-03, #757575);
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
width: 201px;
margin-top: 20px;
}